<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li>
            <a href="@Url.Action("Index", "Students")"> Dashboard</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Students")"><span class="badge pull-right">731</span> Students</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Courses")"><span class="badge pull-right">731</span> Courses</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Students")"><span class="badge pull-right">731</span> Tests</a>
        </li>
    </ul>
</div>

